.box-icon-classic {
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.box-icon-classic>*+* {
	margin-top: 18px;
}

.box-icon-classic .box-icon-caption p {
	color: rgba(21, 21, 21, 0.6);
}

.box-icon-classic:hover .decorate-triangle:before {
	transform: rotate(175deg) translate(15px, 15px);
}

.box-icon-classic:hover .decorate-circle:before {
	transform: translate(-45px, 2px);
}

.box-icon-classic:hover .decorate-rectangle:before {
	transform: rotate(-90deg) translateY(-40px);
}

.box-icon-caption h4 {
	font-weight: 500;
}

.box-icon-caption *+p {
	margin-top: 20px;
}
.box-icon-modern .box-icon-caption *+p {
	margin-top: 5px;
}
.post-corporate.post-corporate-img-bg .box-icon-caption p,
.section-main-bunner .box-icon-caption p,
.context-dark .box-icon-caption p,
.bg-gray-600 .box-icon-caption p,
.bg-gray-700 .box-icon-caption p,
.bg-gray-800 .box-icon-caption p,
.bg-primary .box-icon-caption p,
.bg-pink .box-icon-caption p,
.bg-secondary .box-icon-caption p,
.bg-secondary-2 .box-icon-caption p,
.bg-green .box-icon-caption p {
	color: rgba(255, 255, 255, 0.8);
}

#form-output-global {
	position: fixed;
	bottom: 30px;
	left: 15px;
	z-index: 2000;
	visibility: hidden;
	transform: translate3d(-500px, 0, 0);
	transition: .3s all ease;
}

#form-output-global.active {
	visibility: visible;
	transform: translate3d(0, 0, 0);
}

@media (min-width: 576px) {
	#form-output-global {
		left: 30px;
	}
}